DJANGO_SECRET_KEY=replace-this-with-a-long-random-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,northnestcommerce.com,www.northnestcommerce.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://northnestcommerce.com,https://www.northnestcommerce.com

MYSQL_DATABASE=northnest
MYSQL_USER=northnest_user
MYSQL_PASSWORD=replace-this-password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Optional for quick local browser testing before MySQL is ready.
USE_SQLITE=False

# Set these to True after HTTPS is active on production.
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False
